<body onload>
    <p-table [value]="seasons" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Count tracks</th>
            <th>Count panoramas</th>
            <th>Tracks link</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-season>
        <tr>
            <td>{{ season.id }}</td>
            <td>{{ season.name }}</td>
            <td>{{ season.countTracks }}</td>
            <td>{{ season.countPanoramas }}</td>
            <td>{{ season.trackLink }}</td>
        </tr>
    </ng-template>
    </p-table>
</body>