<body>
<p-table [value]="seasons" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let header of seasonTableHeaders">{{ header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-season>
    <tr *ngFor="let field of seasonTableHeaders">
      <div *ngIf="field === 'trackLink';then content else other_content"></div>
      <ng-template #content>
        <td>{{ season[field] }}</td>
      </ng-template>
      <ng-template #other_content>
        <td routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">{{ season[field] }}</td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
<router-outlet></router-outlet>
</body>
