<body>
    <p-table [value]="seasons$ | async" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of seasonTableHeaders">{{ header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-season>
        <tr>
          <td *ngFor="let field of seasonTableHeaders">
            <ng-container *ngIf="field === 'trackLink'; else other_content">
              <a [routerLink]="['tracks/', season.id]" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onClickTrack(season[field], season.id)">
                click
              </a>
            </ng-container>
            <ng-template #other_content>
              {{ season[field] }}
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </body>  